html,
body {
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
}
  #wrapper {
    width: 500px;
    overflow: auto;
    margin: 70px auto 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid #BABABA;
    font-family: Georgia, serif;
    text-shadow: 0 0 0 white;
    font-size: 1.4em;
  }
  
    h1 {
      font-size: 112px;
      font-weight: normal;
      margin: 0;
      text-align: center;
    }
      h1 a,
      h1 a:hover {
        text-decoration: none;
        color: black;
      }
      h1 a:hover {
        color: #333;
      }
    
    p#desc {
      text-align: center;
      margin: 0;
      font-size: 0.9em;
    }
    
    #docs {}
      #docs .row {
        margin: 10px;
      }
      #docs .command {
        font-family: Monaco, 'Courier New', Courier, monospace;
      }
      #docs .desc {
        margin-left: 20px;
      }
    
    #download {
      text-align: center;
    }
      #download a {
        color: #4568B2;
      }
      #download a:hover {
        color: #093BAC;
      }