html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
  #wrapper {
    width: 650px;
    margin: 0 auto 0;
    padding: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 0 0 white;
  }

    h1 {
      font-size: 2.5em;
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
      h1 a,
      h1 a:hover {
        text-decoration: none;
        color: black;
      }
      h1 a:hover {
        color: #333;
      }

    p#desc {
      text-align: center;
      margin: 0 0 20px;
      font-size: 1.2em;
    }

    #docs {
      background-color: #f9f9f9;
      color: #333;
      margin: 10px;
      padding: 10px 20px;
    }
      #docs pre,
      #docs code {
        margin: 0;
        font-family: Monaco, 'Courier New', Courier, monospace;
        font-size: 1em;
      }
      #docs .command {
        font-weight: bold;
        color: black;
      }

    #footer {
      text-align: center;
    }
      #footer a {
        color: #4568B2;
        padding-right: 10px;
      }
      #footer a:last-child {
        padding: 0;
      }
      #footer a:hover {
        color: #093BAC;
      }

      #footer .author a {
        color: #999;
      }
